###############################################################################################################################################################################
#
#   Config file for specifying inputs into swirlgenerator
#   Swirl profile description: Twin counter-rotating vortices
#
###############################################################################################################################################################################
[METADATA]
# Name of inlet boundary condition output file
filename = example.dat
# Which cfd framework to format the file for (su2, )
format = su2
# Mesh file - the node coordinates of the inlet are taken from this
mesh = exmple.su2

[VORTEX DEFINITIONS]
# Vortex model [lo, solid, iso]
vortex_model = LO
# List of vortex data - for each vortex: (x-coord, y-coord, strength, core radius)
vortex1 = (1, 0.0, 0.5, 1.0)
vortex2 = (-1, 0.0, -0.5, 1.0)

[EXTRA]
# Uniform axial (streamwise) velocity of inlet (default is 1)
axial_vel = 1.0



#
# If using the -makemesh option to generate a simple domain, specify properties in this section - 'mesh' parameter in METADATA section becomes filename to write to
#
[MESH DEFINITION]
# Shape of inlet (circle, rect)
shape = circle

# Length of domain in z direction
z_side = 20.0
# Mesh density in z direction
z_num_cells = 20

## Needed for circular meshes
#
# Radius of inlet face
radius = 5.0
# Number of mesh cells along one quadrant of the circle
quadrant_num_cells = 10
# Number of mesh cells along the radius (for the outer circular region)
radial_num_cells = 10

## Needed for rectangular meshes
#
# Side lengths of inlet face (width, height)
x_side = 10.0
y_side = 10.0
# Number of mesh cells along each side - for circular domains, this is the mesh density of the square grid which contains the domain, with side length equal to domain diameter
x_num_cells = 20
y_num_cells = 20

