###############################################################################################################################################################################
#
#   Config file for specifying inputs into swirlgenerator
#   Swirl profile description: Bulk swirl - ie central solid vortex
#   Also contains parameters to generate a cylindrical mesh of radius = 3
#
###############################################################################################################################################################################
[METADATA]
# Name of inlet boundary condition output file
filename = bulk_swirl.dat
# Which cfd framework to format the file for (su2, )
format = su2
# Mesh file - the node coordinates of the inlet are taken from this
mesh = cylinder_r3.su2

[VORTEX DEFINITIONS]
# Vortex model [lo, solid, iso]
vortex_model = solid
# List of vortex data - for each vortex: (x-coord, y-coord, strength, core radius)
vortex1 = (0.0, 0.0, 15, 3.0)

[EXTRA]
# Uniform axial (streamwise) velocity of inlet (default is 1)
axial_vel = 1.0


#
# If using the -makemesh option to generate a simple domain, specify properties in this section - 'mesh' parameter in METADATA section becomes filename to write to
#
[MESH DEFINITION]
# Shape of inlet (circle, rect)
shape = circle

# Length of domain in z direction
z_side = 30.0
# Mesh density in z direction
z_num_cells = 50

## Needed for circular meshes
#
# Radius of inlet face
radius = 3.0
# Number of mesh cells along one quadrant of the circle
quadrant_num_cells = 50
# Number of mesh cells along the radius (for the outer circular region)
radial_num_cells = 20
