###############################################################################################################################################################################
#
#   Config file for specifying inputs into swirlgenerator
#   Swirl profile description: Offset swirl 2 - lamb-oseen vortices
#
###############################################################################################################################################################################
[METADATA]
# Name of inlet boundary condition output file
filename = offset_swirl_2.dat
# Which cfd framework to format the file for (su2, )
format = su2
# Mesh file - the node coordinates of the inlet are taken from this
mesh = cylinder_0_5.su2

[VORTEX DEFINITIONS]
# Vortex model [lo, solid, iso]
vortex_model = LO
# List of vortex data - for each vortex: (x-coord, y-coord, strength, core radius)
vortex1 = (0.083, 0.0, 1.178, 0.250)
vortex2 = (-0.083, 0.0, -1.061, 0.225)

[EXTRA]
# Uniform axial (streamwise) velocity of inlet (default is 1)
axial_vel = 1.0
# Min and max values for the swirl angle contour plot colormap
swirl_contour_range = (-20,20)
# Number of ticks to show on the swirl angle contour colorbar
swirl_colorbar_num_ticks = 9

