[MESH DEFINITION]
# side lengths of inlet face (width, height)
x_side = 1.0
y_side = 1.0
# (optional) define z length of domain if also generating the test meshed domain
z_side = 5.0
# number of mesh cells along each side
x_num_cells = 20
y_num_cells = 20
# (optional) define z mesh if also generating the test meshed domain
z_num_cells = 100

[VORTEX DEFINITIONS]
# vortex model
vortex_model = 2
# list of vortex data - for each vortex: (x-coord, y-coord, strength)
vortex1 = (0.0, 0.0, 2.0)

[EXTRA]
# uniform axial (streamwise) velocity of inlet (default is 1)
axial_vel = 1.0

