[METADATA]
# name of inlet boundary condition output file
filename = vortex.dat
# which cfd framework to format the file for (su2, )
format = su2

[MESH DEFINITION]
# side lengths of inlet face (width, height)
x_side = 10
y_side = 10
# (optional) define z length of domain if also generating the test meshed domain
z_side = 20
# number of mesh cells along each side
x_num_cells = 100
y_num_cells = 100
# (optional) define z mesh if also generating the test meshed domain
z_num_cells = 200

[VORTEX DEFINITIONS]
# vortex model
vortex_model = LO
# list of vortex data - for each vortex: (x-coord, y-coord, strength, core radius)
vortex1 = (1.0, 0.0, -0.5, 0.5)
vortex2 = (-1.0, 0.0, 0.5, 0.5)

[EXTRA]
# uniform axial (streamwise) velocity of inlet (default is 1)
axial_vel = 3.0

